@import "node_modules/bootstrap/scss/bootstrap";

body {
    background-color: #000000;
    color: #ddd;
    font-family: sans-serif;
}

.container-img{
    background-image: url('../img/main_image.webp');
    background-repeat: no-repeat;
    background-size: cover;
    // height: ;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 80vh;
}
.content h1{
    color: #fefefe;
    font-size: calc(2.375rem + 2.5vw);
}

.cards{
    max-width: 17rem;
}

footer a{
    text-decoration: none;
    color: #ddd;
}

footer h6, footer p{
    border-top: 1px solid #3c3c3c;
    border-bottom: 1px solid #3c3c3c;
    padding: .7rem;
}
footer p{
    border-bottom: inherit;
    margin: 0;
}
footer span, footer p{
    color: #3c3c3c;
}
footer a:hover{
    color: #808080 !important;
}


@media screen and (max-width:812px){
    .content{
        display: none;
    }
    .title{
        display: block !important;
    }
    .title h1{
        font-size: calc(2.375rem + 1.5vw);
    }
    .container-img{
        background-image: url('../img/main_image_mobile.webp');
        height: 50vh;
    }
}

//@media screen and (min-width:1200px){
    // .container-img{
    //     background-size: cover;
    // }
//}