<footer class="footer container text-center">
  <h6 class="my-4 tex"><a href="tel:866-777-5283">866-77SLATE</a> | <a href="../contact.html">Contact Us</a> | <a
      href=".docs/Terms-of-Use.pdf">Terms fo
      Use</a> | <a href=".docs/Privacy-Policy.pdf">Privacy Policy</a></h6>
  <span class="d-none d-sm-block">
    Slate Credit is a mission based organization focused on helping borrowers avoid late fees and interest on missed
    loan payments.
  </span>

  <span class="d-sm-none">
    Slate Credit is a mission based organization focused on helping borrowers avoid late fees and interest on missed
    loan payments
  </span>
  <p class="mt-4"> © Copyright 2021. Slate Credit. All rights reserved</p>
</footer>
<script src="./js/all.js"></script>
</body>

</html>