<footer class="footer container text-center">
<h6 class="my-4 tex"><a href="">866-77SLATE</a> | <a href="../contact.html">Contact Us</a> | <a href="">Terms fo Use</a> | <a href="">Privacy Policy</a></h6>
<span class="d-none d-sm-block">
  LEGAL COPY HERE. Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio aut libero quam quos, 
  minus odio et atque! Corporis quam dolores, aspernatur, nostrum praesentium quod eum id ipsa impedit 
  excepturi saepe vel placeat optio. Eligendi quod non voluptate repudiandae iste velit at nobis corrupti deserunt blanditiis, 
  inventore veritatis. Rerum assumenda ducimus magni provident libero velit enim maiores nulla quasi, harum suscipit veniam fugiat 
  odit officia possimus corrupti doloremque. Illum vel molestiae expedita rerum modi voluptatum. Sequi, quia asperiores? 
  Asperiores ducimus eum dolores corporis. Beatae fugit voluptatum magni repellat eligendi illum quia libero ipsam vero dignissimos tempore 
  mollitia non, pariatur laudantium nobis?
</span>

<span class="d-sm-none">
  Slate Credit is a mission based organization focused on helping borrowers avoid late fees and interest on missed loan payments
</span>
<p class="mt-4"> © Copyright 2021. Slate Credit. All rights reserved</p>
</footer>
<script src="./js/all.js"></script>
</body>
</html>
